<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <!-- 实验一 [重要]创建bean -->
    <!-- bean标签：通过配置bean标签告诉IOC容器需要创建对象的组件是什么 -->
    <!-- id属性：当前bean的唯一标识，设定了这个唯一标识后，在其他地方就可以来引用这个bean -->
    <!-- class属性：指定这个bean要配置的组件的全类名 -->
    <bean id="happyComponent1" class="com.stonebridge.domain.HappyComponent"/>

    <!-- 实验二 [重要]获取bean -->
    <bean id="happyComponent2" class="com.stonebridge.domain.HappyComponent"/>

    <!-- 实验三 [重要]给bean的属性赋值：setter注入 -->
    <bean id="happyComponent3" class="com.stonebridge.domain.HappyComponent">

        <!-- property标签：通过组件类的setXxx()方法给组件对象设置属性 -->
        <!-- name属性：指定属性名（这个属性名是getXxx()、setXxx()方法定义的，和成员变量无关） -->
        <!-- value属性：指定属性值 -->
        <property name="name" value="i am very happy"/>
    </bean>
    <bean id="happyMachine" class="com.stonebridge.domain.HappyMachine">
        <property name="machineName" value="makeHappy"/>
    </bean>
    <bean id="happyComponent4" class="com.stonebridge.domain.HappyComponent">
        <!-- 使用外部已经配置好的happyMachine这个bean来给当前组件的happyMachine属性赋值 -->
        <!-- 引用另外一个bean不能再使用value属性，而要使用ref属性指定bean的id -->
        <!--
            如果错把ref属性写成了value属性，会抛出异常：
            Caused by: java.lang.IllegalStateException: Cannot convert value of type 'java.lang.String' to required type 'com.atguigu.ioc.component.HappyMachine' for property 'happyMachine': no matching editors or conversion strategy found
            意思是不能把String类型转换成我们要的HappyMachine类型
            说明我们使用value属性时，Spring只把这个属性看做一个普通的字符串，不会认为这是一个bean的id，更不会根据它去找到bean来赋值
        -->
        <property name="machine" ref="happyMachine"/>
    </bean>
    <!-- 实验五 [重要]给bean的属性赋值：内部bean -->
    <bean id="happyComponent5" class="com.stonebridge.domain.HappyComponent">
        <property name="machine">
            <!-- 在property标签内部再配置一个bean，这就是内部bean -->
            <!-- 内部bean可以直接用来给property指定的属性赋值 -->
            <!-- 由于内部bean仅限于在bean内部使用，所以可以不配置id属性 -->
            <bean class="com.stonebridge.domain.HappyMachine">
                <property name="machineName" value="makeHappy"/>
            </bean>
        </property>
    </bean>
    <!-- 引入外部属性文件 -->
    <!-- 使用context名称空间下的property-placeholder标签引入外部属性文件(本质上就是记录外部属性文件的位置) -->
    <!-- location属性：指定外部属性文件的路径。classpath:表示这个路径从类路径根目录开始 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- 实验六 [重要]给bean的属性赋值：引入外部属性文件 -->
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 实验七 给bean的属性赋值：级联属性赋值 -->
    <bean id="happyComponent7" class="com.stonebridge.domain.HappyComponent">
        <!-- 使用内部bean的形式将happyMachine属性初始化 -->
        <property name="machine">
            <!-- 相当于创建了HappyMachine的空对象赋值给happyMachine属性 -->
            <bean class="com.stonebridge.domain.HappyMachine"/>
        </property>
        <!--
            如果happyMachine属性没有被初始化，那么直接访问级联属性会抛出异常：
            Caused by: org.springframework.beans.NullValueInNestedPathException: Invalid property 'happyMachine' of bean class [com.atguigu.ioc.component.HappyComponent]: Value of nested property 'happyMachine' is null
        -->
        <property name="machine.machineName" value="aaa"/>
    </bean>
    <bean id="happyTeam" class="com.stonebridge.domain.HappyTeam">
        <!-- 调用类的构造器创建对象并同时传入参数值 -->
        <!-- constructor-arg标签：给构造器对应位置传入参数 -->
        <!-- index属性：指定当前参数在参数列表中的索引位置 -->
        <!-- name属性：指定当前参数的参数名 -->
        <!-- value属性：指定参数值 -->
        <constructor-arg name="teamName" value="gaysTeam"/>
        <constructor-arg name="memberCount" value="10"/>
        <constructor-arg name="memberSalary" value="555.55"/>
    </bean>
    <bean id="propValue" class="com.stonebridge.domain.PropValue">
        <!-- 使用value属性给bean的属性赋值时，Spring会把value属性的值看做字面量 -->
        <property name="commonValue" value="hello"/>
    </bean>
    <!-- 实验九 给bean的属性赋值：特殊值处理 -->
    <bean id="propValue1" class="com.stonebridge.domain.PropValue">
        <!-- 小于号在XML文档中用来定义标签的开始，不能随便使用 -->
        <!-- 解决方案一：使用XML实体来代替 -->
        <property name="expression" value="a &lt; b"/>
    </bean>
    <!-- 实验九 给bean的属性赋值：特殊值处理 -->
    <bean id="propValue2" class="com.stonebridge.domain.PropValue">
        <property name="expression">
            <!-- 解决方案二：使用CDATA节 -->
            <!-- CDATA中的C代表Character，是文本、字符的含义，CDATA就表示纯文本数据 -->
            <!-- XML解析器看到CDATA节就知道这里是纯文本，就不会当作XML标签或属性来解析 -->
            <!-- 所以CDATA节中写什么符号都随意 -->
            <value><![CDATA[a < b]]></value>
        </property>
    </bean>
    <bean id="propValue3" class="com.stonebridge.domain.PropValue" p:commonValue="commonValue11111"/>

    <bean id="happyTeam3" class="com.stonebridge.domain.HappyTeam">
        <property name="memNameList">
            <list>
                <value>111a111</value>
                <value>222w222</value>
                <value>3333s33</value>
            </list>
        </property>
        <property name="managerMap">
<!--            <map>-->
<!--                <entry key="财务部" value="张三"></entry>-->
<!--                <entry key="行政部" value="李四"></entry>-->
<!--            </map>-->
            <props>
                <prop key="财务部">张三</prop>
                <prop key="行政部">李四</prop>
            </props>
        </property>
    </bean>
</beans>